<div class="container">
	<div class="row">
      <div class="col-md-12">
      	<h2>User info</h2>
      </div>
    </div>
    <%= form_for(@user) do |f| %>
      <div class="row">
      	<div class="col-md-6">
      		<label class="user-name">Name</label><%= f.text_field :name %>
      	</div>
      </div>
      <div class="row">
      	<div class="col-md-12">
      		<label>Image</label>
      		<%= f.attachment_field :user_image, class: "user_image" %>
      	</div>
      </div>
      <div class="row">
      	<div class="col-md-12">
      		<label>Introduction</label><%= f.text_area :introduction, class: "introduction" %><br>
      		<%= f.submit 'Update User' %>
      	</div>
      </div>
      <% end %>
</div>