<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Font Awesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
<nav class="navbar navbar-inverse">
<div class="navbar-header">
    <a href="#" class="navbar-brand">Bookers</a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user.id), class: "home" do %>
              <i class="fas fa-home"> Home</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path, class: "users" do %>
              <i class="fas fa-user"> Users</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_book_path, class: "books" do %>
              <i class="fas fa-book"> Books</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "logout" do %>
              <i class="fas fa-sign-out-alt"> logout</i>
              <% end %>
            </li>
            <% else %>
            <li class="">
              <%= link_to books_path, class: "home" do %>
              <i class="fas fa-home"> Home</i>
              <% end %>
            </li>
            <li class="">
              <%= link_to new_user_path, class: "about" do %>
              <i class="fas fa-link"> About</i>
              <% end %>
            </li>
            <li class="">
              <%= link_to new_user_registration_path, class: "sign_up" do %>
              <i class="fas fa-user-plus"> Sign up</i>
              <% end %>
            </li>
            <li class="">
              <%= link_to new_user_session_path, class: "sign_in" do %>
              <i class="fas fa-sign-in-alt"> login</i>
              <% end %>
            </li>
            <% end %>
    </ul>
  </div>
</nav>
</header>

  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xc-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
